<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Brookside Drywall</title>
    <meta charset="utf-8">
    <meta name="author" content="Martin Calvert">
    <meta name="description" content="Brookside Drywall provides construction services from drywall & sheetrock to sheet paneling. We mainly service the midwest with our headquarters being in Tulsa, Oklahoma.">

    <meta property="og:image" content="assets/image/logo@0.5png">
    <meta property="og:title" content="Brookside Drywall">
    <meta property="og:description" content="Brookside Drywall provides construction services from drywall & sheetrock to sheet paneling. We mainly service the midwest with our headquarters being in Tulsa, Oklahoma.">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    <link rel="shortcut icon" href="assets/images/logo@0.5x.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <!-- Page Contents -->
    <div id="app">
      <div id="top" class="ui vertical masthead center aligned segment">
        <div class="ui container">
          <div class="ui secondary menu">
            <a class="active item" href="#top">Home</a>
            <a class="item"  href="#about">About Us</a>
            <a class="item"  href="#previous">Previous Jobs</a>
            <a class="item"  href="#contact">Contact Us</a>
          </div>
        </div>

        <div class="ui container">
          <img src="assets/images/logo@3x.png" alt="Brookside Drywall Logo" class="ui fluid image" height="50vh">
        </div>
      </div>
      <div class="ui inverted vertical stripe segment skew">
        <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="five wide column">
              <h3 id="about">About Us</h3>
              <p>Brookside Interiors is a commercial drywall company located in Tulsa, Oklahoma.
They provide estimating and project management, light gauge metal stud framing, drywall and finishes, insulation, acoustical ceilings and many other skills.</p>
              <p>With a combined experience of more than 70 years, Randy Morton and Stan Burdick believe they provide the best commercial drywall contractor option for your projects.</p>
              <p>Whether interior build-out and demo or ground up new construction, Brookside Interiors LLC will always strive to help our customers complete their projects with excellence, on schedule, and within budget.</p>
            </div>
            <div class="nine wide right floated column">
              <img src="assets/images/spirit_church_before_1.jpg" class="ui bordered rounded image">
            </div>
          </div>
        </div>
      </div>
      <div class="ui vertical stripe segment">
        <div class="ui equal width stackable internally celled grid">
          <div class="center aligned row">
            <div class="column">
              <h3 id="contact">Contact Us</h3>
              <p><strong>e-mail:</strong> <a href="mailto:Inquries@brooksidedrywall.com">Inquries@brooksidedrywall.com</a></p>
              <p><strong>Phone:</strong> 918-271-5244</p>
            </div>
            <div class="column">
              <h3 id="previous">Previous Jobs</h3>
              <div class="ui two column doubling stackable grid container">
                <div class="left aligned column">
                  <div class="ui list">
                    <div class="item" v-for="job in halfJobs(1)">
                      <i class="building outline icon"></i>
                      <div class="content">
                        <div class="header">
                          {{ job.name }}
                        </div>
                        <div class="description">
                          <i class="map pin icon"></i>{{ job.location }} {{job.postPhotos.length}}
                          <div v-if="job.prePhotos.length > 0" v-on:click="openModal(job.name, 'pre')">
                            <i class="image outline icon"></i> Construction Photos
                          </div>
                          <div v-if="job.postPhotos.length > 0" v-on:click="openModal(job.name, 'post')">
                            <i class="image outline icon"></i> Finished Photos
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="left aligned column">
                  <div class="ui list">
                    <div class="item" v-for="job in halfJobs(2)">
                      <i class="building outline icon"></i>
                      <div class="content">
                        <div class="header">
                          {{ job.name }}
                        </div>
                        <div class="description">
                          <i class="map pin icon"></i>{{ job.location }} {{job.postPhotos.length}}
                          <div v-if="job.prePhotos.length > 0" v-on:click="openModal(job.name, 'pre')">
                            <i class="image outline icon"></i> Construction Photos
                          </div>
                          <div v-if="job.postPhotos.length > 0" v-on:click="openModal(job.name, 'post')">
                            <i class="image outline icon"></i> Finished Photos
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui inverted vertical footer segment skew-opp">
        <div class="ui container">
          <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
              <h4 class="ui inverted header">Menu</h4>
              <div class="ui inverted link list">
                <a href="#about" class="item">About Us</a>
                <a href="#previous" class="item">Previous Jobs</a>
                <a href="#contact" class="item">Contact Us</a>
              </div>
            </div>
            <div class="seven wide column">
              <h4 class="ui inverted header">Brookside Drywall</h4>
              <p>9402 E. 55th Place Suite G, Tulsa, Oklahoma 74145</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ui modal">
        <div class="image content">
          <img class="ui huge image" :src="modalImages[modalImage]">
        </div>
        <div class="image content">
          <div class="ui tiny images">
            <img v-for="image in modalImages" class="ui tiny image" :src="image">
          </div>
        </div>
        <div class="actions">
          <div class="ui secondary basic button" v-on:click="previous">Previous</div>
          <div class="ui secondary basic button" v-on:click="next">Next</div>
          <div class="ui secondary basic cancel button">Close</div>
        </div>
      </div>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          modalImages: [],
          modalImage: 0,
          jobs: [
            {
              name: "Abiding Harvest Church",
              location: "Broken Arrow, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "US Cellular Corporate",
              location: "Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "Spirit Church",
              location: "Bartlesville, OK",
              prePhotos: [
                'assets/images/spirit_church_before_1.jpg',
                'assets/images/spirit_church_before_2.jpg',
                // 'assets/images/spirit_church_before_3.jpg',
                'assets/images/spirit_church_before_4.jpg',
                // 'assets/images/spirit_church_before_5.jpg',
                'assets/images/spirit_church_before_6.jpg'
              ],
              postPhotos: []
            },
            {
              name: "Bricktown Brewery",
              location: "Wichita Falls, TX",
              prePhotos: [],
              postPhotos: [
                'assets/images/bricktown_brewery_done_1.jpg',
                'assets/images/bricktown_brewery_done_2.jpg',
                'assets/images/bricktown_brewery_done_3.jpg',
                'assets/images/bricktown_brewery_done_4.jpg'
              ]
            },
            {
              name: "Noodle Kidoodle",
              location: "Cherry Street",
              prePhotos: [],
              postPhotos: [
                // 'assets/images/noodles_kidoodle_done_1.jpg',
                'assets/images/noodles_kidoodle_done_2.jpg',
                'assets/images/noodles_kidoodle_done_3.jpg',
                'assets/images/noodles_kidoodle_done_4.jpg'
              ]
            },
            {
              name: "10 Gym",
              location: "31st & Mingo, Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "Frost Elementary Public School",
              location: "Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "Okmulgee High School Band Room",
              location: "Okmulgee, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "Broadsoft",
              location: "Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "Small Animal Hospital Owasso",
              location: "Owasso, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "First National Bank Of Broken Arrow",
              location: "Broken Arrow, OK",
              prePhotos: [],
              postPhotos: [
                'assets/images/first_national_ba_done_1.jpg',
                'assets/images/first_national_ba_done_2.jpg'
              ]
            },
            {
              name: "Nadel Gussman",
              location: "Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "Fossil",
              location: "Woodland Hills Mall, Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "Samuels Jewelers",
              location: "Woodland Hills Mall, Tulsa, OK",
              prePhotos: [],
              postPhotos: [
                'assets/images/samuel_jeweler_done_1.jpg',
                // 'assets/images/samuel_jeweler_done_2.jpg'
              ]
            },
            {
              name: "Swarovski's",
              location: "Woodland Hills Mall, Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "Helmerich & Payne",
              location: "Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "PSO Call Center",
              location: "Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "A-Tech",
              location: "Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "Salons by JC",
              location: "Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "HUB Insurance",
              location: "Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "SemGroup",
              location: "Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "EASI",
              location: "1st Place Tower, Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "Cimarex Energy",
              location: "Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            },
            {
              name: "Travelers Insurance",
              location: "Meridian Tower, Tulsa, OK",
              prePhotos: [],
              postPhotos: []
            }
          ]
        },
        methods: {
          halfJobs: function(half) {
            let length = this.jobs.length / 2;
            if (half == 1) {
              return this.jobs.slice(0, length)
            } else if (half == 2) {
              return this.jobs.slice(length, this.jobs.length)
            }
          },
          openModal: function(name, type) {
            let job = this.jobs.find(x => x.name === name);
            if (type === 'pre') {
              this.modalImages = job.prePhotos;
            } else {
              this.modalImages = job.postPhotos;
            }
            this.modalImage = 0;
            $('.ui.modal').modal('show');
          },
          next: function() {
            console.log("inside next")
            if (this.modalImage == this.modalImages.length - 1) {
              this.modalImage = 0;
            } else {
              this.modalImage = this.modalImage + 1;
            }
          },
          previous: function() {
            if (this.modalImage == 0) {
              this.modalImage = this.modalImages.length - 1;
            } else {
              this.modalImage = this.modalImage - 1;
            }
          }
        }
      })
    </script>
  </body>
</html>
